{% extends 'app/dummy.html' %}


{% block title %}
    <title>Delete Page</title>
{% endblock %}

{% block body_block %}
    <center>

            <h1>Are you sure to delete{{schoolobject.scname}}?</h1>

            <form method="POST">
                {% csrf_token %}


                <input type="submit" value="Yes im sure" class=" btn btn-danger">

                

            </form>
            <a href="{% url 'SchoolList' %}" class="btn btn-secondary">No-Take Me to List</a>
            <a href="{% url 'SchoolDetail' pk=schoolobject.pk %}" class="btn btn-secondary">No-Take Me to Detail</a>

    </center>
{% endblock %}